
*.class

# Package Files #
*.jar
*.war
*.ear
*.log
*.bat
*.sh
*.lmza

eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/1/70ae8eeaae3d00131014cfd5779c7cf6

eclipse/*

eclipse/.metadata/.log

eclipse/.metadata/.lock

*.cfg

*.txt

*.csv

*.exc

*.srg

*.1

*.lck

jars/assets/icons/icon_16x16.png

jars/assets/icons/icon_32x32.png

*.py

*.pyc

*.exe

runtime/bin/astyle-osx

*.pyd

*.dll

*.zip

*.backup

*.bin

src/deobfuscation_data-1.6.4.lzma

src/fmlversion.properties

src/forge_logo.png

src/mcpmod.info
